@model Lab5_PersonalPage.Controllers.ComputerParts

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Computer Part Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.computerBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.computerBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.computerPart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.computerPart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.computerCreatedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.computerCreatedYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.computerPartPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.computerPartPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
